@import "./utils/variables";
@import "./utils/mixins";

@import "./base/reset";

@import "./layout/header";
@import "./layout/footer";

@import "./pages/index/fonctionnements";
@import "./pages/index/accueil";

* {
    font-family: 'Roboto', sans-serif;
}

// localisation

.location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background:#EAEAEA;
    box-shadow: inset 0px 4px 3px rgba(0, 0, 0, 0.10);
    padding: 15px 0;
        .location_icon  {
            padding-right: 10px;
        }
            .location_city p {
                font-size: 16px;
                font-weight: 500;
            }
}

// First section

.first_section {
    display: flex;
    flex-direction: column;
    background: #F6F6F6;
    padding: 40px 0 50px 0;
    .first_section_container {
        text-align: center;
        h2 {
            padding: 0 65px 20px 65px;
            font-weight: 800;
        }
        p {
            padding: 0 40px 25px 40px;
            font-size: 16px;
            font-weight: 300;
        }
    }
}