// First section

.first_section {
    display: flex;
    flex-direction: column;
    background: #F6F6F6;

// localisation

.location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background:#EAEAEA;
    box-shadow: inset 0px 4px 3px rgba(0, 0, 0, 0.10);
    padding: 15px 0;
        .location_icon  {
            padding-right: 10px;
        }
            .location_city p {
                font-size: 16px;
                font-weight: 500;
            }
}

    .first_section_container {
        text-align: center;
        h2 {
            padding: 45px 65px 20px 65px;
            font-weight: 800;
            font-size: 23px;
            letter-spacing: 0px;
        }
        p {
            padding: 0 40px 25px 40px;
            font-size: 16px;
            font-weight: 300;
        }
    }

    .first_section_button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 80px 60px 80px;
    }
}

