footer {
    background: #353535;
    padding: 25px;
    .logo h3{
        color: white;
        font-family: 'Shrikhand', cursive;
        font-size: 16px;
        padding-bottom: 25px;
    }
}

.footer_block_links{
    display: flex;
    flex-direction: column;
    gap: 10px;
    .footer_block_link{
        display: flex;
        flex-direction: row;
        gap: 10px;
        i {
            color: white;
            width: 10px;
            font-size: 12px;
        }
        h3 {
            color: white;
            font-size: 15px;
        }
    }
}

