.restaurant_cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .restaurant_card {
    width: 100%;
    height: 250px;
    border-radius: 20px;
    box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.15);
    position: relative;
    transform: scale(1);
    &:hover {
      transform: scale(1.01);
    }
    .restaurant_card_img {
      overflow: hidden;
      height: 175px;
      p {
        position: absolute;
        z-index: 1;
        right: 15px;
        top: 15px;
        color: $font-new;
        background: $background-new;
        padding: 5px 10px;
        font-size: 14px;
      }
      img {
        object-fit: cover;
        width: 100%;
        height: 175px;
        border-radius: 20px 20px 0 0;
      }
    }
    .restaurant_block {
      display: flex;
      justify-content: space-between;
      height: 75px;
      border-radius: 0 0 20px 20px;
      padding: 15px 25px 20px 15px;
      .restaurant_block_info {
        display: flex;
        flex-direction: column;
        gap: 3px;
        .restaurant_block_name {
          font-weight: 800;
          font-size: 18px;
        }
      }
      .restaurant_block_hearth {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: transparent;
        -webkit-text-stroke: 2px black;
        font-size: 26px;
        &:hover {
          background: -webkit-linear-gradient($color-primary, $color-secondary);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          -webkit-text-stroke: 0;
          // -webkit-animation: fill 1s;
          // animation: fill 1s;
          transform-origin: 50% bottom;
          transform: scale(1);
          animation: transform 0.4s cubic-bezier(0.43, 0.21, 1, 0.45);
          animation: fill 0.4s linear both;
        }
      }
      @keyframes fill {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  .restaurant_cards {
    flex-direction: row;
  }
}
