.bloc_menu {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  background: $color-grey;
  .listing_menu {
    display: flex;
    flex-direction: column;
    h2 {
      font-size: 16px;
      font-weight: 400;
      padding: 30px 0 5px 0;
    }
    .progress_bar {
      width: 40px;
      height: 3px;
      background: $background-new;
      margin-bottom: 7.5px;
      transform-origin: 0% 50%;
      animation: greenbar_anim ease 1500ms;
    }
    @keyframes greenbar_anim {
      0% {
        transform: scaleX(0);
      }
      100% {
        transform: scaleX(1);
      }
    }
  }
}

.order_button {
  display: flex;
  justify-content: center;
  padding: 50px 0 85px 0;
  background: $color-grey;
}
