// Code couleur du site

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-third: #99E2D0;
$color-grey: #F6F6F6;

// button

$button-gradient: linear-gradient(to bottom right , $color-secondary , $color-primary );
// $button-gradient-reverse: linear-gradient(to bottom right , $color-primary , $color-secondary);






